@using Business.DTOs.Student.Files
@model TermFileDto
<div class="container justify-content-center">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="StudentUserId" value="@ViewBag.StudentUserId" />
        <input type="hidden" asp-for="LessonId" value="@ViewBag.LessonId" />
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="TermPaperFile" class="form-label">PhotoFile</label>
            <input asp-for="TermPaperFile" class="form-control">
            <span asp-validation-for="TermPaperFile" class="text-danger"></span>
        </div>
        <div asp-validation-summary=All class="text-danger"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>