
@using Business.DTOs.Cordinator
@model UpdatePasswordDto

<div class="container justify-content-center mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Update Password</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                    <input asp-for="CurrentPassword" class="form-control" type="password" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label">New Password</label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConNewPassword" class="form-label">Repeat Password</label>
                    <input asp-for="ConNewPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConNewPassword" class="text-danger"></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
