<!-- BEFORE Page Content -->
<!-- // END BEFORE Page Content -->
<!-- Page Content -->

<div class="mdk-box mdk-box--bg-primary bg-dark js-mdk-box mb-0"
     data-effects="parallax-background blend-background">
    <div class="mdk-box__bg">
        <div class="mdk-box__bg-front"
             style="background-image: url(../../public/images/photodune-4161018-group-of-students-m.jpg);"></div>
    </div>
    <div class="mdk-box__content justify-content-center">
        <div class="hero container page__container text-center py-112pt">
            <h1 class="text-white text-shadow">Learn to Lessons</h1>
            <p class="lead measure-hero-lead mx-auto text-white text-shadow mb-48pt">Business, Technology and Creative Skills taught by industry experts. Explore a wide range of skills with our professional teachers.</p>

            

        </div>
    </div>
</div>


<!-- // END Page Content -->
